<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sgcc.code.mapper.ProjectMapper">

	<resultMap id="BaseResultMap" type="com.sgcc.code.entity.Project">
		 <id column="id" jdbcType="BIGINT" property="id" />
		 <result column="project_name" jdbcType="VARCHAR" property="projectName" />
		 <result column="project_describe" jdbcType="VARCHAR" property="projectDescribe" />
		 <result column="ispublic" jdbcType="VARCHAR" property="ispublic" />
		 <result column="create_time" jdbcType="DATE" property="createTime" />
	</resultMap>
	
	<sql id="Base_Column_List">
	     id,project_name,project_describe,ispublic,create_time
	</sql>

    <!-- resultType="java.util.Map" or resultMap="BaseResultMap" -->
    <select id="getDetail" resultMap="BaseResultMap">
        select 
	    <include refid="Base_Column_List" />
	    from project
	    ${ew.customSqlSegment}
	    <if test="id>0">
            AND id = #{id}
        </if>
    </select>

</mapper>